@media (max-width:900px) {

    .container {
        width: 100%;
        padding-right: 0;
    }

    .header__pic {
        width: 95%;
        height: 95%;
    }
}

@media (max-width: 500px) {

    .container {
        padding-right: 10px;
    }

    .info__heading {
        font-size: 27px;
        line-height: 35px;
    }

    .content {
        padding: 50px 0 50px;
    }

    .portfolio__pic {
        max-width: 95%;
    }

    .contacts {
        align-items: center;
    }

    .footer_svg {
        display: none;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__link:not(:last-child) {
        margin-right: 36px;
    }

    .mobile__display {
        display: block;
    }
}

@media (max-width: 385px) {
    .info__heading {
        font-size: 21px;
        line-height: 29px;
    }

    .info__description {
        font-size: 12px;
        line-height: 17px;
    }

    .about__dscr {
        font-size: 15px;
    }

    .footer__link {
        font-size: 11px;
    }

    .footer__link:not(:last-child) {
        margin-right: 12px;
    }
}