html {
    box-sizing: border-box
}

html,
body {
    font-family: 'Gilroy', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0em;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Medium'),
        url('/fonts/GilroyBold.woff2') format('woff2'),
        url('/fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy-Bold'),
        url('/fonts/GilroyBold.woff2') format('woff2'),
        url('/fonts/Gilroy-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


:root {
    --gray: #828282;
    --cod-gray: #070707;
    --wild-sand: #F6F6F6;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.list-reset {
    list-style: none;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
}

.header__container {
    padding-top: 1px;
    padding-bottom: 7px;
    border-bottom: 1px solid var(--gray);
}

.header__list {
    justify-content: space-between;
}

.header__link {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: var(--cod-gray);
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.header__link:hover {
    background-size: 100% 2px;
}

.info {
    align-items: center;
    justify-content: space-between;
}

.info__heading {
    max-width: 50px;
    font-weight: 700;
    font-size: 47px;
    line-height: 59px;
    color: var(--cod-gray);
}

.info__description {
    display: flex;
    flex-direction: column;
}

.hero__section {
    padding-bottom: 100px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__pic {
    border-radius: 20px;
    width: 845px;
    height: 360px;
}

.about {
    background-color: var(--wild-sand);
}

.about__heading {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

.about__heading.__active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.about__dscr {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
    text-align: center;
}

.about__dscr.__active {
    transform: translate(0px, 0px);
    transition: all 0.9s ease 0.4s;
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0 107px;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px 30px;
    align-items: center;
    justify-content: space-between;
}

.skills__item {
    max-width: 109px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translate(0px, 100%);
    opacity: 0;
    transition: all 0.8s ease 0s;

}


.skills__item.__active {
    transform: translate(0px, 0px);
    opacity: 1;
}


.portfolio__item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfolio__link {
    color: var(--cod-gray);
}

.portfolio__section {
    background-color: var(--wild-sand);
}

.portfolio__dscr {
    text-align: center;
}

.portfolio__pic {
    max-width: 750px;
}

.footer__link {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer__link:not(:last-child) {
    margin-right: 45px;
}

.tel__link {
    color: var(--cod-gray);
}

.tel__pic {
    width: 111px;
    height: 112px px;
}

.mobile__display {
    display: none;
}